body{
    background-color: blue;
    font-family: Arial, sans-serif;
}
h1{
    color: #32a852;
    font-size: 48PX;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p{
    color: #d35400;
    font-size: 18px;
    line-height: 1.6;
}
