body {
    font-family: Arial;
    padding: 20px;
    background: skyblue;   /* 🌟 whole page background */
}

h1 {
    color: #000;
}


div {
    margin: 10px 0;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
}

/* classes */
.bold {
    font-weight: bold;
}

.highlight {
    color: red;
    font-weight: bold;
}


button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
